.LatestCoupons {}

.title-coupon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coupon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 600px;
}

.coupon-container > button{
    width: 90px;
}