.LatestCoupons {}

.title-coupon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.coupon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}


.coupon-container > button {
    width: 90px;
    margin: 0 40px; 
}