.CouponCard {
	height: 600px !important; 
}

.title-and-image {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .title {
    flex: 1;
    color: var(--text-color); /* Allow the title to take up remaining space */
  }
  
  .CouponImage {
    width: 50px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    object-fit: cover;
    margin-left: 70px; 
    margin-right: 30px;
  }