.Header {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header > span{
    font-size: 40px;
}

.Header > h1{
    margin-left: 200px !important;
}

.Header > .info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Header > .info *{
    margin: 5px;
}