.Menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2em;
    background-color: var(--header-color);
}

.Menu>* {
    margin: 1em;
}

.Menu * :hover{
    text-decoration: none;
}

.Menu >link :hover{
    text-decoration: none;
}