.AllCoupons {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust the gap as needed */
    margin-top: 20px; /* Add some margin for spacing */
}

.AllCoupons > button {
	margin: 15px;
}

